.chart{
    box-shadow: 1px 1px 9px 6px rgba(0,0,0,0.19);
    -webkit-box-shadow: 1px 1px 9px 6px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 1px 9px 6px rgba(0,0,0,0.19);
    flex: 1;
    padding: 10px;
}
.chart-top{
    display: flex;
    justify-content: space-between;
}
.chart-title{
    color: grey;
}
.kebab{
    cursor: pointer;
}
.chart-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.pro-bar{
    height: 150px;
    width: 150px;
}

.amount{
    font-weight: 700;
    font-size: 1.7rem;
}

.dec{
    text-align: center;
    color: rgb(151, 151, 151);
}

.sales{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
}
.rate{
    display: flex;
    align-items: center;
}
.green{
    color: rgb(34, 197, 34);
}
.red{
    color: red;
}